[program:horizon]
process_name=%(program_name)s_%(process_num)02d
command=/usr/local/opt/{{ php_version }}/bin/php /Users/{{ work_user }}/{{ work_dir }}/home.{{ work_domain }}/artisan horizon
autostart=true
autorestart=true
user={{ work_user }}
redirect_stderr=true
stdout_logfile=/usr/local/var/log/supervisor_horizon.out.log
