Congratulations, you have successfully installed home.{{ work_domain }} project.

 Ansible role for install home.{{ work_domain }} project.

  - {{ mysql_database }}_dashboard

  URL Dashboard site    - https://home.{{ work_domain }}
  URL Minio site        - https://home.{{ work_domain }}:9002
  URL Socket site       - https://home.{{ work_domain }}:9090
  URL Mailcatcher site  - http://127.0.0.1:1080
  URL Supervisor site   - http://127.0.0.1:9001

 In order to log in to the following services via the web, such logins and passwords are required:

 Minio site  -> {{ minio_key }} - {{ minio_secret }}
 Socket site -> admin@{{ work_domain }} - Qwerty123

 Mysql server and database are used in the docker container, to connect to mysql server we use the command:

 mysql -u{{ mysql_admin_user }} -h127.0.0.1

 If you want to pull the latest changes, switch to the necessary branch and run the script,
which can be found on the following path - $HOME/{{ work_dir }}/home.{{ work_domain }}/sh/update.sh

 If you want to run basic tests, run the following from the project folder:

     - Run frontend test (carma):
       npm run test

     - Run backend test (phpunit):
       vendor/bin/phpunit

     * Before run e2e users test you must run webdriver:

     - webdriver-manager clean && node_modules/webdriver-manager/bin/webdriver-manager \
       update --versions.chrome=71.0.3578.80 && node_modules/webdriver-manager/bin/webdriver-manager \
       start --versions.chrome=71.0.3578.80

     - Run e2e users test (crawler):
       protractor protractor.conf.js --crawler
